header {

    // background-color: #b0afafd8;
    // color: #2e2d2d;
    // padding: 10px;
    // margin: 20px 30px 0 30px;
    ul {
        li {
            span{
                font-size: 22px;
            }
            img {
                cursor: pointer;
            }
        }
    }

    border-bottom: 1.2px solid #aeaeae;

    img {
        margin-right: 10px;
    }

    h3,
    p {
        margin: 0;
    }


}