* {
    font-family: 'Inter', system-ui;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 30px auto;


    .cart-item {
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 20px;
        padding: 12px 20px 12px 20px;
        min-height: 130px;

        p {

            font-size: 15px;
        }

        b {
            font-size: 16px;
        }

        .remove {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;
            cursor: pointer;
            width: 32px;
            height: 32px;

            img {
                opacity: 1;
                transition: opacity 0.15s ease-in-out;

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    .shadow {

        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;

        .overlay {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 385px;
            height: 100%;
            right: 0;
            background: #ffffff;
            box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
            padding: 30px;
            overflow-y: hidden;

            h2 {
                margin: 0;
                font-size: 24px;
                margin-bottom: 20px;

                .close {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9px;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;

                    img {
                        opacity: 1;
                        transition: opacity 0.15s ease-in-out;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                }
            }
        }

        .notEmptyCart {
            margin: 0;
            height: 97%;

            .ItemsBox {
                max-height: 75%;

                p {
                    font-size: 14px;
                    font-weight: 600;

                }

                .cart-item {
                    display: flex;
                    flex-direction: row;
                }
            }

        }


        .emptyCart {
            position: relative;
            top: 22%;

            button {
                position: relative;

                &:hover {
                    img {
                        transform: translateX(5px);
                    }
                }

                img {
                    // transform: scale(-1, 1);
                    transition: transform 0.15s ease-in-out;
                    position: absolute;
                    right: 30px;
                    top: 12.3px;
                }
            }
        }

        b,
        p {
            text-align: center;
            margin-top: 15px;
        }
    }

    .ItemsBox {
        flex: 1;
        overflow: auto;
        margin-bottom: 30px;
    }

    .makeOrder {
        position: relative;

        &:hover {
            img {
                transform: translateX(5px);
            }

        }

        img {
            position: absolute;
            right: 35px;
            top: 12.3px;
            transition: transform 0.15s ease-in-out;
        }

        button:disabled {
            animation: procssing-order 0.7s ease-in-out infinite;
        }



    }


    .emptyCart {
        button {
            height: 60%;
            width: 55%;
            padding: 8.7px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            cursor: pointer;
            color: #FFFFFF;
            background: #9DD558;
            border-radius: 18px;
            border-style: none;
            transition: background 0.15s ease-in-out;
            ;
        }

        &:hover {
            button {
                background: lighten(#9DD558, 7%);
            }
        }

        &:active {
            button {
                background: darken(#9DD558, 9%);
            }
        }


    }


    .check {
        li {
            display: flex;
            align-items: flex-end;
        }

        div {
            position: relative;
            bottom: 3px;
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #DFDFDF;
            margin: 0 10px;
        }
    }

    .makeOrder {
        button {
            height: 174%;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            cursor: pointer;
            color: #FFFFFF;
            background: #9DD558;
            border-radius: 18px;
            border-style: none;
            transition: background 0.15s ease-in-out;
        }

        &:hover {
            button {
                background: lighten(#9DD558, 7%);
            }
        }

        &:active {
            button {
                background: darken(#9DD558, 9%);
            }
        }



        button:disabled {
            background-color: #7d7d7d;
        }



    }


}

.content {
    .goToHome {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        cursor: pointer;
        width: 32px;
        height: 32px;

        img {
            opacity: 1, 3;
            transition: opacity 0.15s ease-in-out;

            &:hover {
                opacity: 0.55;
            }
        }

    }

    h1 {
        margin: 0;
        padding: 20px;
    }

    .searchBlock {
        border-radius: 10px;
        border: 2px solid #F3F3F3;
        padding: 0 15px;

        .Search {
            font-size: 16px;
            border: 0;
            padding: 13px;
        }

        .clearInput {
            cursor: pointer;
            opacity: 40%;

            &:hover {
                transition: opacity 0.18s ease-in-out;
                opacity: 100%;
            }
        }
    }

    .cardsBox {
        flex-wrap: wrap;
        overflow: auto;
        flex: 1;

    }
}

.NoItemsFound {
    h2 {
        margin-bottom: 7px;
    }

    button {
        height: 60%;
        width: 100%;
        padding: 8.7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        background: #9DD558;
        border-radius: 18px;
        border-style: none;
        transition: background 0.15s ease-in-out;

        &:hover {
            img {
                transform: translateX(5px);
            }
        }

        img {
            transition: transform 0.15s ease-in-out;


        }
    }

    .lowerText {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        opacity: 0.4;
        margin-bottom: 0.5px;
    }

    &:hover {
        button {
            background: lighten(#9DD558, 7%);
        }
    }

    &:active {
        button {
            background: darken(#9DD558, 9%);
        }
    }


}

@keyframes procssing-order {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }

}